@import "../variables/colors.css";

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0;
      padding: 0;

      a {
        display: block;
        float: left;
        border: none;
        border-radius: 0;
        background-color: white;
        color: $button;
        &:hover {
          background-color: white;
          color: $hover;
        }
      }
    }
  }
}
