@import "../variables/colors.css";

.calculator {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  form {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0 20px;

    div {
      display: flex;
      flex-direction: row;
      flex: 0 1 auto;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 0 0 10px 0;
      min-height: 40px;

      label,
      input {
        display: flex;
        flex: 0 1 50%;
        align-items: flex-start;
        justify-content: flex-start;
      }

      label,
      input,
      span {
        border-width: 0 0 1px;
        border-bottom: 1px solid $neutral;
      }

      span {
        padding-left: 5px;
      }

      input {
        outline: none;
        font-family: Helvetica, arial, sans-serif;
        font-size: 1em;
        text-align: right;
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 1024px) {
  	flex-direction: column;

    form {
    	flex: 0 1 100%;
      margin-bottom: 20px;
    }
  }
}
